*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plain Light';
    color: #fff;
}

html, body{
    height: 100%;
    width: 100%;
}
#main{
    position: relative;
    background-color: #030303;
}
#page1{
    height: 100vh;
    width: 100%;
    background-color: #151515;
}
#loader{
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: #0b0b0b;
    z-index: 999;
    padding: 25vh 10vw;
}
.line h1{
    font-size: 5.5vw;
    text-transform: uppercase;
    font-weight: 500;
}
.line{
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 3vw;
}
#line1-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5vw;
}

#line1-part1 h5 , #line1-part1 h6{
    font-family: 'silk serif ';
    font-size: 3vw;
    font-weight: 100;
}
#line1-part1 h5{
    width: 5vw;
    text-align: right;
}


.line h2{
    font-size: 5vw;
    text-transform: uppercase;
    font-weight: 900;
    opacity: 0;
    animation-duration: 3s;
    animation-iteration-count: inherit;
}
@keyframes anime {
    0%{
        font-family: "plain light";
        -webkit-text-stroke: 1px #fff;
        font-weight: 500;
        color: #fff;
        opacity: 1;
    }
    40%{
        font-family: "plain light";
        -webkit-text-stroke: 1px #fff;
        font-weight: 500;
        color: #fff;
        opacity: 0;
    }
    50%{
        font-family: 'silk serif ';
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 1;
    }
    100%{
        font-family: 'silk serif ';
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 0;
    }
}
